[submodule "LittleTiles"]
	path = subrepos/LittleTiles
	url = https://github.com/CreativeMD/LittleTiles
[submodule "CreativeCore"]
	path = subrepos/CreativeCore
	url = https://github.com/CreativeMD/CreativeCore
